/* @font-face {
	font-family: "value-serif";
	src: url("../fonts/Value\ Serif\ Pro\ Regular.eot");
	src: url("../fonts/Value\ Serif\ Pro\ Regular.eot") format("embedded-opentype"),
		url("../fonts/Value\ Serif\ Pro\ Regular.woff2") format("woff2"),
		url("../fonts/Value\ Serif\ Pro\ Regular.woff") format("woff"),
		url("../fonts/Value\ Serif\ Pro\ Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "value-serif-bold";
	src: url("../fonts/Value\ Serif\ Pro\ Bold.eot");
	src: url("../fonts/Value\ Serif\ Pro\ Bold.eot") format("embedded-opentype"),
		url("../fonts/Value\ Serif\ Pro\ Bold.woff2") format("woff2"),
		url("../fonts/Value\ Serif\ Pro\ Bold.woff") format("woff"),
		url("../fonts/Value\ Serif\ Pro\ Bold.ttf") format("truetype");
	font-display: swap;
} */

:root {
	--color-primary: #3350B4;
	--color-secondary: #FFFFFF;
	--font-title: sans-serif;
	--font-primary: sans-serif;
}

ul {
	padding: 0;
}

hr {
	border-top: 2px solid var(--color-primary);
	opacity: 0.7;
}

.bg-primary {
	background-color: var(--color-primary) !important;
}

.bg-secondary {
	background-color: var(--color-secondary) !important;
}

.bg-gray {
	background-color: #3d4f64;
}

.text-primary {
	color: var(--color-primary) !important;
}

.text-secondary {
	color: var(--color-secondary) !important;
}

.main-title,
.section-title {
	font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
	margin-bottom: 1rem;
}

.main-title {
	font-family: var(--font-title);
}

.section-title-small {
	font-size: clamp(1.3rem, 3vw + 1rem, 2.5rem);
}

.small-text {
	font-size: 14px;
}

.w-90 {
	width: 90%;
}

.btn-primary {
	background: var(--color-primary) !important;
	height: 46px;
}

.btn-outline-dark {
	border-color: #3d5065 !important;
	color: #3d5065 !important;
}

.btn {
	font-weight: 600;
	width: auto;
}
.btn2 {
	font-weight: 600;
	width: auto;
}

.btn:hover {
	transform: scale(1.02);
	background: #3812c2 !important;
}

.text {
	font-family: var(--font-primary);
}

body {
	font-family: sans-serif;
	letter-spacing: 0.5px;
	color: #434448;
	scroll-behavior: smooth;
}

/* NAVBAR */
.navbar-brand svg {
	width: 150px;
	fill: #314F66;
}

.sub-title-light {
	font-weight: 400;
}

.navbar {
	transition: top 0.3s;
}

.navbar.hidden {
	top: -100px;
}

@media (max-width: 768px) {
	.navbar {
		padding-block: 0.5rem;
	}

	.navbar-offer {
		display: none;
	}

	.navbar .btn {
		border-radius: 8px;
		width: 170px !important;
	}

	.offset {
		height: 69px;
	}
}

.navbar .btn {
	text-transform: uppercase;
	border-radius: 8px;
	width: 184px !important;
}

/* HERO */
header {
	position: relative;
}

.hero {
	height: calc(90vh - 72px);
	min-height: 800px;
	position: relative;
	overflow: hidden;
}

.hero .btn {
	text-transform: uppercase;
}

.banner-image {
	position: absolute;
	inset: 0;
	background-color: #76b6cd;
	background-image: url(../images/1hero.jpg);
	background-size: cover;
	background-position: center right;
	z-index: -1;
}

.sub-title {
	font-family: var(--font-primary) !important;
	text-transform: capitalize;
	font-weight: 600;
	font-size: clamp(1rem, 1.5vw + 1rem, 1.5rem);
	margin-bottom: 1rem;
}

.reviews {
	gap: 0.75rem;
}

.stars {
	gap: 0.25rem;
}

.stars svg {
	width: 20px;
	height: 20px;
}

.get-btn svg {
	position: absolute;
	right: 11.3%;
	bottom: 53%;
}

.get-btn button {
	position: absolute;
	right: 7%;
	bottom: 64%;
	font-weight: 600;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeIn {
	animation: fadeIn 1s ease-out;
}

@keyframes zoomIn {
	from {
		transform: scale(0.8);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

.zoomIn {
	animation: zoomIn 0.5s ease-out;
}

.slider-container {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}

.slider-track {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slider-item {
	margin-right: 90px;
	margin: 40px;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	.hero {
		height: calc(96vh - 72px);
		width: 100%;
	}

	.hero .cards {
		margin-top: 40%;
	}

	.banner-image {
		background-image: url(../images/1hero-mobile.jpg);
		bottom: -110px;
		right: -55px;
	}

	.banner-image svg {
		right: calc(11.3% + 55px);
		top: calc(28% + 110px);
	}

	.get-btn svg {
		position: absolute;
		right: 11.3%;
		bottom: 26%;
	}

	.get-btn button {
		right: 8%;
		bottom: 34%;
		max-width: 116px;
		line-height: 1;
		padding-inline: 0.75rem !important;
	}

	.featured {
		display: none;
	}

}

@media (max-width: 492px) {
	.hero {
		object-position: -5px;
	}

	.hero .container {
		text-align: center;
	}

	.hero .row.px-5 {
		align-items: flex-start !important;
		padding: 0 0 !important;
	}

	.hero .reviews {
		justify-content: center;
	}

	.get-btn svg {
		position: absolute;
		right: 22.3%;
		bottom: 26%;
	}

	.get-btn button {
		right: 8%;
		bottom: 31%;
	}
}

/* FEATURES */
.sub-text {
	text-align: justify;
	text-transform: uppercase;
	text-align-last: center;
	font-size: 18px;
	font-weight: 600;
}

.data {
	margin: 30px;
}

.logo {
	max-width: 80px;
	height: auto;
	margin: 10px;
}


/* PRODUCT */

.carousel {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.carousel-inner {
	width: 100%;
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-item {
	width: 100%;
	flex: 0 0 auto;
}

.carousel-item.active {
	opacity: 1;
}

#myCarousel {
	overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2rem;
	cursor: pointer;
}

.carousel-control-prev.disabled,
.carousel-control-next.disabled {
    cursor: not-allowed;
    opacity: 0.5; /* You can adjust the opacity to your preference */
}

.carousel-control-prev {
	left: 10px;
}

.carousel-control-next {
	right: 10px;
}

.carousel-indicators {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.indicator-bar {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: gray;
	margin: 0 4px;
	cursor: pointer;
}

.active-indicator {
	background-color: var(--color-primary);
}

.product-info {
	font-weight: 600;
}

.product-price {
	font-size: 1.5rem;
	color: #a2a2a2;
	font-family: var(--font-title);
}

.savings {
	font-size: 1.5rem;
	color: #A94442;
}

.product-info .border {
	border: 2px solid var(--color-primary) !important;
}

.underline-light-gray {
	border-bottom: 1px solid #ddd;
	margin: 0 5px;
	padding-bottom: 5px;
}

.kit {
	gap: 0.5rem;
}

.product-description li {
	gap: 0.5rem;
}

.payment-options {
	justify-content: center;
	gap: 0.5rem;
}

.payment-options img {
	width: 40px;
	height: 30px;
	border-radius: 2px;
	object-fit: cover;
}

.product-features img {
	width: 60px;
	display: block;
	margin-inline: auto;
}

.product-features .text {
	font-size: 14px;
	font-family: "pier-sans";
	letter-spacing: 0;
}

/* REVIEWS */

.card {
	border: none !important;
}

.card-body {
	border: none !important;
	width: 270px !important;
}

.video1 video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

@media (max-width: 1068px) {
	.reviewstab {
		display: none !important;
	}
}

@media (max-width: 1068px) {
	.reviewsmob {
		display: block !important;
	}
}

@media (min-width: 1069px) {
	.reviewsmob {
		display: none !important;
	}
}

#news-slider {
	margin-top: 80px;
}

.post-slide {
	background: #fff;
	min-height: 570px;
	margin: 20px 15px 20px;
	border-radius: 15px;
	padding-top: 1px;
	box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.post-slide1 {
	position: relative;
	overflow: hidden;
	min-height: 570px;
	margin: 20px 15px 20px;
	border-radius: 15px;
	padding-top: 1px;
	box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.background-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.post-slide .post-img {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin: 12px 15px 8px 15px;
}

.post-slide .post-img img {
	width: 100%;
	height: auto;
	transform: scale(1, 1);
	transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
	transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
	transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
	opacity: 1;
	text-decoration: none;
}

.post-slide .over-layer i {
	position: relative;
	top: 45%;
	text-align: center;
	display: block;
	color: #fff;
	font-size: 25px;
}

.post-slide .post-content {
	background: #fff;
	padding: 2px 20px 40px;
	border-radius: 15px;
}

.post-slide .post-title a {
	font-size: 15px;
	font-weight: bold;
	color: #333;
	display: inline-block;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
	text-decoration: none;
	color: #3498db;
}

.post-slide .post-description {
	line-height: 24px;
	color: #808080;
	margin-bottom: 25px;
}

.post-slide .post-date {
	color: #a9a9a9;
	font-size: 14px;
}

.post-slide .post-date i {
	font-size: 20px;
	margin-right: 8px;
	color: #CFDACE;
}

.post-slide .read-more {
	padding: 7px 20px;
	float: right;
	font-size: 12px;
	background: #2196F3;
	color: #ffffff;
	box-shadow: 0px 10px 20px -10px #1376c5;
	border-radius: 25px;
	text-transform: uppercase;
}

.post-slide .read-more:hover {
	background: #3498db;
	text-decoration: none;
	color: #fff;
}

.owl-controls .owl-buttons {
	text-align: center;
	margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
	background: #fff;
	position: absolute;
	bottom: -13%;
	left: 15px;
	padding: 0 18px 0 15px;
	border-radius: 50px;
	box-shadow: 3px 14px 25px -10px #92b4d0;
}

.owl-controls .owl-buttons .owl-next {
	background: #fff;
	position: absolute;
	bottom: -13%;
	right: 15px;
	padding: 0 15px 0 18px;
	border-radius: 50px;
	box-shadow: -3px 14px 25px -10px #92b4d0;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
	content: "\f104";
	font-family: FontAwesome;
	color: #333;
	font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
	content: "\f105";
}

@media only screen and (max-width:1280px) {
	.post-slide .post-content {
		padding: 0px 15px 25px 15px;
	}
}